<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="xTeam">
            <h2><span>X Team</span> {{xTeam.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{xTeam.name}}</span>
                </dd>
                <dt><span>Organization</span></dt>
                <dd>
                    <div *ngIf="xTeam.organization">
                        <a [routerLink]="['/organization', xTeam.organization?.id, 'view']">{{xTeam.organization?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/x-team', xTeam.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
